/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Muli', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #e44d26;*/
}

.footer-container,
.main aside {
    /*border-top: 20px solid #e44d26;*/
}

.header-container,
.footer-container,
.main aside {
    /*background: #f16529;*/
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
    background: #ffffff;
    margin-bottom: 2%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-family: 'Kameron', serif;
    font-weight: bold;

    color: #5b5b5b;
}

nav a:hover,
nav a:visited {
    color: #a2a6a5;
}

nav a:hover {
    text-decoration: none;
}

.current-nav {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0 0 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #205867;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kameron', serif;
}

a {
    color: #1f4e5a;
    text-decoration: none;
}

a:hover {
    color: #a2a6a5;
    text-decoration: none;
}

nav, .shadow {
   -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#header-font-weight {
    font-weight: 400;
}

header h1 {
    background-image: url('../img/logo.png');
    width: 130px;
    height: 130px;
    float: left;
}

.section-header {
    color: #711724;
   text-transform: uppercase;
   font-weight: 300;
}

.header-container {
    background: #205867;
    margin: 2% 0 .5% 0;
}

#header-text {
    margin-top: 6%;
    letter-spacing: 2px;
    text-transform:uppercase;
    line-height: 110%;
    color: #a2a6a5;
}

.home-section-text {
    font-size: .813em;
    line-height: 190%;
}

.footer-container {
    background: #205867;
}

.main aside {
    background: #ffffff;
}

.main-content-block {
    background-color: #ffffff;
    padding: 2%;
    margin-bottom: 2%;
}

#footer {
    background: #ffffff;
    margin-bottom: 2%;
}

.flex-img {
    width: 100%;
    height: auto;
}

#copyright {
    color: #282828;
    font-size: .813em;
    margin-left: 2%;
}

.footer-heading-bottom {
    margin-bottom: -3%;
}

#main-footer {
    overflow: hidden;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        /*width: 27%;*/
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        font-size: 1.250em;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    #header-text { 
        margin-top: 9%;
        width: 80%;
        text-align: left;
        font-size: 1.525em;
        clear: both;
    }
    
    .home-body-text {
        margin-left: 0;
    }
    
    .home-image-container {
        margin-bottom: 2%;
    }
    
    .top-footer-section-header {
        color: #711724;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    #amats-logo {
        width: 75px;
        height: 32px;
        float: left;
        margin-right: 2%;
    }
    
    #natsap-logo {
        width: 75px;
        height: 109px;
        float: left;
        margin-right: 2%;
    }
    
    .footer-right-p {
        margin-left: 25%;
    }
    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 100%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    
    #header-text {
        width: 70%;
        font-size: 1.625em;
        float: right;
        text-align: right;
        clear: none;
    }
    
    .section-header {
        margin-top: 0;
        margin-left: 20%;
    }
    
    .top-footer-section-header {
        margin-left: 0;
        margin-top: 0;
        color: #711724;
    }
    
    .page-heading {
        margin-top: 0;
		color: #711724;        
    }
    
    .home-body-text {
        margin-left: 32%;
        margin-bottom: 2%;
    }
    
    .home-image-container {
        margin-bottom: 0;
        float: left;
        width: 289px;
        height: 157px;
    }
    
    .home-section-text {
        margin-top: -2%;
        margin-left: 20%;
    }
    
    .footer-right-p {
        margin-left: 20%;
    }
    
    #footer-left {
        float: left;
        width: 35%;
    }
    
    #footer-right {
        float: right;
        width: 65%;
    }
    
    #contact-info {
        margin-top: 6%;
    }
    
    #natsap {
      margin-top: 4%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    
    .section-header {
        margin-left: 0;
    }
    
    .home-section-text {
        margin-left: 0;
    }
    
    .footer-right-p {
        margin-left: 14%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}