/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Muli', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Menu
   ============== */

nav {
    background: #ffffff;
    margin-bottom: 2%;
    position: relative;
    z-index: 2;
}

nav ul {
    margin: 0 0 0 2.5%;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 2px 0;

    text-align: center;
    text-decoration: none;
    font-family: 'Adamina', serif;
    font-weight: bold;

    color: #5b5b5b;
}

nav a:hover {
    color: #a2a6a5;
    text-decoration: none;
}

nav a:visited {
    color #5b5b5b;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0 0 0;
}

.main article h1 {
    font-size: 1.7em;
    color: #711724;
    clear: both;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #205867;
    margin: 0 auto;
}

.current-nav {
    color: #a2a6a5;     
    text-decoration: none;
}

nav ul li ul {
	position:absolute; 
	top: 70px; 
	right: 640px; 
	width:220px;
	background:#FFF; 
	z-index: 1;
}
nav ul li ul li {margin:0;padding:0;width:inherit;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adamina', serif;
    line-height: 150%;
}

.ampersand {
	font-family: 'Adamina', serif;
}

a {
    color: #1f4e5a;
    text-decoration: none;
}

a:hover {
    color: #a2a6a5;
    text-decoration: none;
}

.shadow {
   -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
   -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}


.normal-font-weight {
    font-weight: 400;
}

header a {
	color: #A2A6A5;
}

header h1 {
    background-image: url('../img/logo-3.png');
    width: 170px;
    height: 170px;
    float: left;
}

.section-header {
   color: #711724;
   text-transform: uppercase;
   font-weight: 300;
}

.margin-left-heading, .left-margin-zero-heading {
    color: #711724;
    font-weight: 400;
}

.header-container {
    background: #205867;
    margin: 2% 0 .5% 0;
}

.top-header-text {
    margin-top: 6%;
    letter-spacing: 2px;
    line-height: 110%;
    font-family: 'Adamina', serif;
}

.home-section-text {
    font-size: .813em;
    line-height: 190%;
}

.center-red {
    text-align: center;
    color: #711724;
    background-color: #eeeeee;
	padding: 2%;
}

.footer-container {
    background: #205867;
}

.main aside {
    background: #ffffff;
}

.main-content-block {
    background-color: #ffffff;
    padding: 2%;
    margin-bottom: 2%;
}

.white-bg-top-margin {
    background: #ffffff;
    margin-bottom: 2%;
}

.flex-img {
    width: 100%;
    height: auto;
}

.grey-sm-font-left-margin {
    color: #282828;
    font-size: .813em;
    margin-left: 2%;
}

.footer-heading-bottom {
    margin-bottom: -3%;
    color: #711724;
    text-transform: uppercase;
    font-weight: 300;
}

.overflow-hidden {
    overflow: hidden;
}

.billless, .billmore, .carolless, .carolmore, .bobless, .bobmore, .johnless, .johnmore, .janetless, .janetmore {
    color: #1f4e5a;
    cursor: pointer;
}

.center-capitalized-heading {
    margin-left: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #711724;
}

.centered-large-text {
    text-align: center;
	font-size: 1.3em;
	line-height: 190%;
}

.uppercase-regular-weight-heading {
    text-transform: uppercase;
    font-weight: 400;
    color: #711724;
}

.unstyled-list {
    list-style-type: none;
}

ul.unstyled-list li {
    margin-bottom: 1.5%;
}

.center-columns {
    margin-left: 2.6%;
}

.red-text {
    color: #711724;
}

.top-footer-section-header {
        margin-left: 0;
        margin-top: 0;
        color: #711724;
        font-weight: 300;
        text-transform: uppercase;
    }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {
	.top-header-text {
    	clear: both;
	}
	
	.top-header-contact, .top-header-text {
        color: #ffffff;
    }
    
    .top-header-contact-text {
        font-size: 1.2em;
        font-family: 'Adamina', serif;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        /*width: 27%;*/
        margin: 0 1.7%;
        padding: 25px 1.6%;
        margin-bottom: 0;
        font-size: 1.2em;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    .top-header-text { 
        margin-top: 42%;
        width: 80%;
        text-align: left;
        font-size: 1.525em;
        clear: both;
    }
    
    .right-body-text, .team-right-body-text {
        margin-left: 0;
    }
    
    .home-image-container {
        margin-bottom: 2%;
    }
    
    .top-footer-section-header {
        color: #711724;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    .img-amats {
        width: 75px;
        height: 32px;
        float: left;
        margin-right: 2%;
    }
    
    .img-natsap {
        width: 75px;
        height: 109px;
        float: left;
        margin-right: 2%;
    }
    
    .p-left-margin {
        margin-left: 25%;
    }
    
    .body-img-left {
        width: 100%;
        height: auto;
    }
    
    .three-col-div {
        clear: both;
        width: 100%;
    }
    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 580px) {

.top-header-text {
    margin-top: 35%;
    color: #ffffff;
}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 100%;
    }

nav ul li ul {
	position:absolute; 
	top: 70px; 
	right: 330px; 
	width:220px;
	background:#FFF; 
	z-index: 1;
}

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    
    .top-header-title {
        float:left; 
        width: 60%;
        margin-left: -17%;
        margin-top: 12%;
    }
    
    .top-header-text {
        width: 70%;
        font-size: 1.4em;
        float: right;
        clear: none;
        margin-top: 2%;
    }
    
    .top-header-contact {
        float:right; 
        width: 30%; 
        text-align:right;
        margin-top:11%;
    }
    
    .section-header {
        margin-top: 0;
        margin-left: 20%;
    }
    
    .margin-left-heading {
        margin-top: 0;
        margin-left: 18%;
    }
    
    .left-margin-zero-heading {
        margin-top: 0;
        margin-left: 0;
    }
    
    .margin-left-zero-text {
        margin-top: 0;
        margin-left: 0;
        margin-top: -.6em;
    }
    
    .top-footer-section-header {
        margin-left: 0;
        margin-top: 0;
        color: #711724;
    }
    
    .page-heading {
        margin-top: 0;
        margin-bottom: 0;
		color: #711724;        
    }
    
    .right-body-text {
        margin-left: 32%;
        margin-bottom: 2%;
    }
    
    .team-right-body-text {
        margin-left: 27%;
        margin-bottom: 2%;
        padding-top: 1.5em;
    }
    
    .team-left-body-text {
        margin-bottom: 0;
        /*clear: both;*/
        float: left;
        width: 62%;
        padding-top: 1.5em;
    }
    
    .left-body-text {
    	margin-bottom: 2%;
    	clear: both;
    }
    
    .home-image-container {
        margin-bottom: 0;
        float: left;
        width: 289px;
        height: 157px;
    }
    
    .body-img-right {
        width: 450px;
        height: 290px;
    	float: right;
    	padding: .5%;
    }
    
    .body-img-left  {
        width: 297px;
        height: 193px;
        float: left;
        padding-right: 2%;
    }
    
.three-col-img {
    width: 289px;
    height: 157px;
}
    
    .team-image-container-left {
        margin: 2% 0 0 0;
        float: left;
        width: 249px;
        height: 249px;
    }
    
    .team-image-container-right {
        margin-bottom: 0;
        float: right;
        width: 249px;
        height: 249px;
    }
    
    .home-section-text {
        margin-top: -2%;
        margin-left: 20%;
    }
    
    .margin-left-text {
        margin-top: -2%;
        margin-left: 18%;
    }
    
    .add-top-margin {
        margin-top: 2% !important;
    }
    
    .p-left-margin {
        margin-left: 20%;
    }
    
    .float-left-width-thirty-five {
        float: left;
        width: 35%;
    }
    
    .float-right-sixty-five {
        float: right;
        width: 65%;
    }
    
    .top-margin-six-percent {
        margin-top: 6%;
    }
    
    .top-margin-four-percent {
      margin-top: 4%;
    }
}

@media only screen and (min-width: 874px) {

nav ul li ul {
	position:absolute; 
	top: 70px; 
	right: 430px; 
	width:220px;
	background:#FFF; 
	z-index: 1;
}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    
    .section-header {
        margin-left: 0;
    }
    
    .home-section-text {
        margin-left: 0;
    }
    
    .p-left-margin {
        margin-left: 14%;
    }
    
    .white-bg-top-margin {
    margin-bottom: 2%;
    }
    
    .team-left-body-text {
        width: 74%;
    }
    
    .margin-left-text {
        margin-top: -2%;
        margin-left: 0;
    }
    
    .margin-left-heading {
        margin-left: 0;
    }
.body-text-left {
    float: left;
    width: 52%;
}

.carol-top {
    margin-top: 7%;
}

.three-col-div {
    float: left;
    width: 31.3%;
    margin-right: 2%;
    clear: none;
}

nav ul li ul {
	position:absolute; 
	top: 70px; 
	right: 620px; 
	width:220px;
	background:#FFF; 
	z-index: 1;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}